<div id="main">
  <mat-card > 
    <h2> Hiago's to do</h2>
    <form class="form-login" (ngSubmit)="login()" [formGroup]="loginForm" #formDir="ngForm">
      <div id="fields">
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Insira seu email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Senha</mat-label>
          <input type="password" matInput placeholder="Insira sua senha" formControlName="password">
        </mat-form-field>
      </div>
    </form>
    <mat-card-actions>
        <button (click)="login()" mat-flat-button color="primary">Entrar</button>
        <button mat-button color="primary">Cadastre-se</button>
    </mat-card-actions>
  </mat-card>  
</div>
<router-outlet></router-outlet>
